#navbar{
    font-family: sans-serif;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    height: 10vh;
    position: fixed;
    width: 100%;
    font-size: 1.3vw;
    justify-content: space-between;
    position: sticky;
    top:0px;
    padding: 0px;
    margin: 0px;

}

    body
     {
    background-color: #000;
    }
    ul {
    list-style: none;
    background: #000;
    text-decoration: none;
    text-align: center;
    }
    ul li {
    display: inline-block;
    position: relative;
    }
    ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align:left;
    font-size: 1.3vw;
    }
    ul li ul.dropdown li {
    display: block;
    background:none;
    margin: 2px 0px;
    }
    ul li ul.dropdown {
    width:100%;
    background: #000;
    position: absolute;
    z-index: 999;
    display: none;
    }
    ul li a:hover {
    background:rgba(256,256,256,0.5);
    border-radius: 10vh;
    }
    ul li:hover ul.dropdown{
    display: block;
    }
    
#logo:hover{
    transform: scale(1.05);
}
#aboutus{
    padding:20px 25px;
    text-decoration: none;
    color: white;
    
    border-radius: 10vh;
    
}
#aboutus:hover{
    
    background-color: rgba(256,256,256,0.5);
  
}
#home{
    padding:20px 25px;
    text-decoration: none;
    color: white;
    
    animation: all 2s ease-in 5s ;
    border-radius: 10vh;
   
}
#home:hover{
   
    background-color: rgba(256,256,256,0.5);
}



#searchbox{
    width: fit-content;
    padding: 2vh;
    background-color:#000;
    
    outline: none !important;
    border: 2px solid white;
    border-radius: 5vh;
    
}
#searchbox:hover{
    border:2.5px solid rgba(256,256,256,0.5);
    color: #133c55;

}
::placeholder{
    color: white;
    font-size: 1.2vw;
}

#searchbox input{
    background:transparent;
    color: white;
    font-size: 1.2vw;
    flex:1;
    border: 0;
    outline: none;
    
}
#searchbox:hover{
    
    background-color:rgba(256,256,256,0.5);
}
#searchbutton{
    color: white;
    border: 0;
    background:transparent;
    height: 30px;
}
#loginbutton{padding: 17px;
    
    width: fit-content;
    background: transparent;
    outline:transparent;
    border: 0;
    border-radius: 10vh;
    border: 2px solid transparent;
    font-size: 1.2vw;
    color: white;
    
    
}
#loginbutton:hover{
    border:2.5px solid rgba(256,256,256,0.5);
    background-color: rgba(256,256,256,0.5);
}
#signinbutton{padding: 2vh;
    
    width: fit-content;
    background: transparent;
    outline:transparent;
    border: 0;
    border-radius: 10vh;
    border: 2px solid white;
    font-size: 1.2vw;
    color: white;
   
    
}
#signinbutton:hover{
    border:2.5px solid rgba(256,256,256,0.5);
    background-color: rgba(256,256,256,0.5);
}

*{
    font-family: sans-serif;
}
.categoryone {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

.travel {
    border: 2px solid transparent;
    height: 38vh;
    width: 75vh;
    padding: 1vh;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-right: 15px;
    scroll-snap-align: start;
    animation: scroll 10s linear infinite;
    animation-play-state: running;
    transition: transform 0.3s ease; 
    font-weight: 501;
}

.categoryone:hover .travel {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    animation-play-state: paused;
   
}
.travel a{
    text-decoration: none;
    color: black;
    
}
.travel a:hover{
    color: rgb(229, 138, 19);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%)); 
    }
}
#two{
    height: 200px;
}
#three{
    height: 200px;
}



 
