#navbarextend{
    height: 60vh;
    background-color: black;
    width: 100vw;
}
#blogtitle{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Poppins', sans-serif;
    
}
#sociallinks{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
}
#sociallinks a{
    text-decoration: none;
    color: white;
}
#sociallinks div{
    background-color: black;
    border: 1px solid white;
    height: 3vh;
    width: 3vh;
    padding: 0.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    transform: scale(1.5);
}
#author{
    color: white;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;
}
#authorimg{ width: 10vh;
    height: 10vh;
    border-radius: 50%;
    
    
}
#authorname{
    font-family: 'Poppins', sans-serif;
}
#readtime{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    font-family: 'Poppins', sans-serif;
}
#date{
    margin-right: 10vh;
    font-family: 'Poppins', sans-serif;
}
#content{
    width: 100vw;
    height: 500vh;
    display: flex;
    flex-direction: row;
}
#contentleft{
    width: 25vw;
    border: 1px;
    background-color: aqua;
    height: 810vh;
}
#contentright{
    width: 25vw;
    border: 1px;
    height: 800vh;
    
}
#contentmain{
    width: 50vw;
    border: 1px;
    font-size: 1.2em;
    margin: 5vh;
    margin-top: 10vh;
    text-align: justify;
    overflow: hidden;
    height: 800vh;
    font-family: 'Poppins', sans-serif;
}
#toc{
    position: sticky;
    top:15vh;
    margin-left: 25%;
    margin-top: 5vh;
}
#toc a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    
}
#img4 img{
 width: 50vw;
}
#img3 img{
 width: 50vw;
}
/* #gridbox{
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw ;
    grid-template-rows: 5vw 5vw ;
    grid-gap: 5.5vh;
    margin-bottom: 10vh
   
}
#grid1{
    background-color: pink;

}
#grid2{
    background-color: pink;
}
#grid3{
    background-color: pink;
}
#grid4{
    background-color: pink;
} */
.feedback_body18 h1{
    margin-top: 5vh;
    
    font-size: 45px;
    
    text-align: center;
    
}
.feedback18{
    height: 70vh;
    background-color:orange;
}
.username18{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.username18 input{
    height: 3vw;
    width: 25vw;
}
.username18 i{
   font-size: 28px; 
   position: relative;
   left: 0.5vw;
   top: 0.2vw;

}
.username18 ::placeholder{color:black;
    font-family: 'Poppins', sans-serif;}
.Email18{
    display: flex;
    justify-content: center;
}
.Email18 input{
    position: relative;
    top: 1vw;
    left: 0.15vw;
    height: 3vw;
    width: 25vw;
}
.Email18 i{
   font-size: 28px; 
   position: relative;
   left: 0.6vw;
   top: 1.4vw;

}
.Email18 ::placeholder{color:black;
    font-family: 'Poppins', sans-serif;}
.Comments18 {
    display: flex;
    justify-content: center;
}
.Comments18 textarea{
    position: relative;
    top: 2vw;
    left: 0.15vw;
    height: 8vw;
    width: 25vw;
}
.Comments18 i{
    font-size: 28px; 
    position: relative;
    left: 0.6vw;
    top: 3vw;
}
.Comments18 ::placeholder{color:black;
    font-family: 'Poppins', sans-serif;}

.subbut18{
    position: relative;
    left: 24vw ;
    top: 4.5vw;
    height: 3vw;
    width: 5.4vw;
    font-size: 18px;
}
.subbut18:hover{
    background-color: #009688;
}
#relatedblog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.related{
    width:32vh;
    height: 10vw;
    background-color: transparent;
    text-decoration: none;
    
}
.related a{
    text-decoration: none;
    color: red;
}
#related1{
    height: 80%;
    background-color:black;
    background-image: url("1_1.png");
    background-size: cover;
    
}
#related2{
    height: 80%;
    background-color:black;
    background-image: url("2.png");
    background-size: cover;
}
#related3{
    height: 80%;
    background-color:black;
    background-image: url("4.png");
    background-size: cover;
}